<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beerdie.letstoss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/beer_mug"
        android:label="Let's Toss!"
        android:roundIcon="@mipmap/beer_mug"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.beerdie.letstoss.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.beerdie.letstoss.SelectionActivity" />
        <activity android:name="com.beerdie.letstoss.GameActivity" />
        <activity android:name="com.beerdie.letstoss.StatsActivity" />
        <activity android:name="com.beerdie.letstoss.RulesActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9915897781430871~1165119074" />
    </application>

</manifest>